@model JumpLineUp.ViewModels.SupportServices.SupportServiceIndexViewModel
@using System.ServiceModel.Configuration
@using System.Web.UI.WebControls
@using JumpLineUp.Helpers
@using JumpLineUp.Models

@{
    ViewBag.Title = "SupportServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<div class="container">
    <div class="panel panel-default">

        <div class="panel-heading">
            @if (User.IsInRole(RoleName.CanAddEditSupportServices))
            {
                <div class="btn-toolbar pull-right" style="margin: 14px 0px;">
                    @Html.ActionLink("Add a new Service", "create", "SupportServices", new { @class = "btn btn-primary" })
                </div>
            }

            <h2>Support Services</h2>
        </div><!--Panel Heading End-->
        <div class="panel-body">


            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="pill" href="#active">Needs Scheduling</a></li>
                <li><a data-toggle="pill" href="#menu2">Menu 2</a></li>
                <li><a data-toggle="pill" href="#menu3">Menu 3</a></li>
                <li><a data-toggle="pill" href="#expired">Expired Services</a></li>
            </ul>

            <div class="tab-content">
                <div id="active" class="tab-pane fade in active">
                    <h3>Needs Scheduling</h3>
                    <hr/>
                    @Html.Partial("Partials/_needsScheduling")
                </div>
                
                <div id="menu2" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>

                <div id="menu3" class="tab-pane fade">
                    <h3>Menu 3</h3>
                    <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
                
                <div id="expired" class="tab-pane fade">
                    <h3>Expired Services</h3>
                    <hr />
                    @Html.Partial("Partials/_expiredServices")
                </div>
                
                
                

            </div>
            

        </div>
    </div>
</div>





















@section scripts{
    <script>
        $(document).ready(function () {


            var tableName = "#newServiceTable";
            $(tableName).DataTable({
                "columnDefs": [
                    {
                        //"targets": 4,
                        //"orderable": false
                    }
                ]
            });

            //$("[data-toggle=popover]")
            //    .popover({ html: true });
            //
            //$('body').on('click', function (e) {
            //    //did not click a popover toggle or popover
            //    if ($(e.target).data('toggle') !== 'popover'
            //        && $(e.target).parents('.popover.in').length === 0) { 
            //        $('[data-toggle="popover"]').popover('hide');
            //    }
            //});



        });
    </script>
}
  
