@model JumpLineUp.ViewModels.SupportServices.SupportServiceIndexViewModel
@using System.ServiceModel.Configuration
@using System.Web.UI.WebControls
@using JumpLineUp.Helpers
@using JumpLineUp.Models

@{
    ViewBag.Title = "SupportServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<div class="container">
    <div class="panel panel-default">

        <div class="panel-heading">
            @if (User.IsInRole(RoleName.CanAddEditSupportServices))
            {
                <div class="btn-toolbar pull-right" style="margin: 14px 0px;">
                    @Html.ActionLink("Add a new Service", "create", "SupportServices", new { @class = "btn btn-primary" })
                </div>
            }

            <h2>Support Services</h2>
        </div><!--Panel Heading End-->
        <div class="panel-body">


            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="pill" href="#newService">Needs Scheduling</a></li>
                <li><a data-toggle="pill" href="#needsAssigning">Needs Assigning</a></li>
                <li><a data-toggle="pill" href="#expired">Expired Services</a></li>
            </ul>

            <div class="tab-content">
                <div id="newService" class="tab-pane fade in active">
                    <h3>Needs Scheduling</h3>
                    <hr/>
                    @Html.Partial("Partials/_needsScheduling")
                </div>
                
                <div id="needsAssigning" class="tab-pane fade in">
                    <h3>Scheduled - Needs Staff Assignment</h3>
                    <hr />
                    @Html.Partial("Partials/_needsAssigning")
                </div>

                
                
                <div id="expired" class="tab-pane fade in">
                    <h3>Expired Services</h3>
                    <hr />
                    @Html.Partial("Partials/_expiredServices")
                </div>
                
                
                

            </div>
            

        </div>
    </div>
</div>





















@section scripts{
    <script>
        $(document).ready(function () {


            
            $("#newServiceTable").DataTable();

            $("#needsAssigningTable").DataTable();
                
           

        });
    </script>
}
  
