@using System.Web.UI.WebControls
@model IEnumerable<JumpLineUp.Models.CfsWorker>
@{
    ViewBag.Title = "CfsWorker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<div class="panel panel-default">

    <div class="panel-heading">
        <div class="btn-toolbar pull-right" style="margin: 14px 0px;">
            @Html.ActionLink("Add CFS Worker", "NewCfsWorker", "CfsWorker", new {@class = "btn btn-primary"})
            @Html.ActionLink("View Enabled CFS Workers", "Index", "CfsWorker", new { @class = "btn btn-primary" })
        </div>        
        
        <h2>DHHS CFS Workers</h2>
    
    </div><!--Panel Heading End-->
    <div class="panel-body">
        <div class="well">
            

            <div class="form-group">
                <label for="filter">Filter Active / Inactive CFS Workers</label>
                <select class="form-control" id="filter">
                    <option value="All">View All CFS Workers</option>
                    <option value="True">Current CFS Workers</option>
                    <option value="False">Inactive CFS Workers</option>
                </select>
            </div>
        

            <table id="cfsTables" class="table table-responsive table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Active CFS</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>

                </tbody>

            </table>
        

        </div><!-- End of Well-->
    </div><!--Panel Body End-->
</div>

@section scripts
{
    <script>
    $(document).ready(function() {
        var message = "Are you sure you wish to disable this CFS Worker?";
        var tableName = "#cfsTables";
        var toggleButton = ".js-toggle";
        var url = baseSiteURL + "api/CfsWorkers/";
        var btnDataId = "data-cfsworker-id";

        //Create the DataTable using API.
        var table = $(tableName).DataTable({
            ajax: {
                url: baseSiteURL + "api/CfsWorkers",
                dataSrc: ""
            },
            columns: [
                {
                    data: "lastName",
                    render: function(data, type, cfs) {
                        return cfs.firstName + " " + cfs.lastName;
                    }
                },
                {
                    data: "phone",
                    render: function(data, type, cfsWorker) {
                        return "<a href='tel:" + cfsWorker.phone + "'>" + cfsWorker.phone + "</a>";
                    }
                },
                {
                    data: "email",
                    render: function(data, type, cfsWorker) {
                        return "<a href='mailto:" + cfsWorker.email + "'>" + cfsWorker.email + "</a>";
                    }
                },
                {
                    data: "isActive",
                    render: function (data) {
                        return data;
                    }
                },
                {
                    data: "id",
                    render: function (data) {
                        var edit = "<a href='" +
                            baseSiteURL +
                            "CfsWorker/Edit/" +
                            data +
                            "' class='btn btn-sm btn-default'>Edit &nbsp; <span class='glyphicon glyphicon-pencil'></span></a>&nbsp;";




                        var disable = "<button data-cfsworker-id='" +
                            data +
                            "' class='js-toggle btn btn-sm btn-default'>Disable &nbsp; <span class='glyphicon glyphicon-ban-circle'></span>";
                        return edit + disable;

                    }
                }

            ]
        });

        //Make the Disable Button
        $(tableName).on("click", toggleButton, function () {

            var button = $(this);

            bootbox.confirm(message, function(result) {
                if (result) {
                    $.ajax({
                        url: url + button.attr(btnDataId),
                        method: "DELETE",
                        success: function () {

                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });


        $('#filter').change(function() {
            if (this.value === "All") {
                table
                    .columns(3)
                    .search('')
                    .draw();

            } else {
                table
                    .columns(3)
                    .search(this.value)
                    .draw();
            }
        });








    });
    </script>
}
