@using System.Web.UI.WebControls

@{
    ViewBag.Title = "CfsWorker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<div class="panel panel-default">

    <div class="panel-heading">
        <div class="btn-toolbar pull-right" style="margin: 14px 0px;">
            @Html.ActionLink("Add CFS Worker", "NewCfsWorker", "CfsWorker", new {@class = "btn btn-primary"})
        </div>
        <h2>DHHS CFS Workers</h2>
    </div><!--Panel Heading End-->
    <div class="panel-body">
        <div class="well">
            
            <div class="form-group">
                <label for="filter">Filter Active / Inactive CFS Workers</label>
                <select class="form-control" id="filter">
                    <option value="All">View All CFS Workers</option>
                    <option value="Active">Current CFS Workers</option>
                    <option value="Inactive">Inactive CFS Workers</option>
                </select>
            </div>

            <table id="cfsTables" class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                            <th>Active CFS</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                                
                </table>
      
        </div><!-- End of Well-->
    </div><!--Panel Body End-->
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            var tableName = "#cfsTables";
           
            //Create the DataTable using API.
            var table = $(tableName).DataTable({
                ajax: {
                    url: baseSiteURL + "api/CfsWorkers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "lastName",
                        render: function(data, type, cfs) {
                            return cfs.firstName + " " + cfs.lastName;
                        }
                    },
                    {
                        data: "phone",
                        render: function(data, type, cfsWorker) {
                            return "<a href='tel:" + cfsWorker.phone + "'>" + cfsWorker.phone + "</a>";
                        }
                    },
                    {
                        data: "email",
                        render: function(data, type, cfsWorker) {
                            return "<a href='mailto:" + cfsWorker.email + "'>" + cfsWorker.email + "</a>";
                        }
                    },
                    {
                        data: "isActive",
                        render: function (data) {
                            if (data === true) {
                                return "<span class='glyphicon glyphicon-ok' style='color: lightgreen'></span> Active";
                            } else {
                                return "<span class='glyphicon glyphicon-remove' style='color: #e07979'></span> Inactive";
                            }
                            return data;
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<a href='CfsWorker/EditCfsWorker/" + data +
                                "' class='btn btn-sm btn-default'>Edit &nbsp; <span class='glyphicon glyphicon-pencil'></span></a>&nbsp;";

                        }
                    }

                ],
                "columnDefs": [
                    {
                        "targets": 4,
                        "orderable": false
                    }
                ]
             
            });

            //Filter the results of the table to show enabled or disabled CFS Workers
            $('#filter').change(function() {
                if (this.value === "All") {
                    table
                        .columns(3)
                        .search('')
                        .draw();
                    table.column(3).visible(true);
                } else {
                    table
                        .columns(3)
                        .search(this.value)
                        .draw();
                    table.column(3).visible(false);
                }
            });
        });
    </script>
}
